.header {
  height: 10%;
  padding: var(--padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border-bottom: 1px solid #ECECF4;

  &__logo {
    width: 12rem;
  }

  &__nav {
    display: flex;
    column-gap: 2rem;
  }

  &__nav-item {
    border-bottom: 2px solid transparent;

    font-weight: 500;
    font-size: 1.7rem;

    &_active {
      color: var(--main-complementary-color);
      border-color: var(--main-complementary-color);
    }
  }

  &__profile {
    width: 2.8rem;

    &_active {
      color: var(--main-complementary-color);
    }
  }
}
