.header {
  padding: 1.5rem 0;
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 10rem;
  }

  &__nav {
    display: flex;
    column-gap: 2rem;
  }

  &__nav-item {
    border-bottom: 2px solid transparent;

    &_active {
      color: #3E68FF;
      border-color: #3E68FF;
    }
  }

  &__profile {
    width: 2.8rem;

    &_active {
      color: #3E68FF;
    }
  }
}
