@import '@/app/assets/styles/mixins.scss';

.profile {
  width: 50%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__logout {
    background-color: transparent;

    @include buttonHover;
  }

  &__form {
    max-width: 40rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__title {
    font-size: 3rem;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__input {
    width: 100%;
    padding: 1rem;

    border-radius: 1rem;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;

    color: #ffffff;

    &::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__submit {
    background-color: transparent;

    @include buttonHover;
  }
}
