@import '@/app/assets/styles/mixins';

.button {
  width: 100%;
  padding: var(--padding);

  border: 1px solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: transparent;

  color: var(--main-color);
  font-weight: 500;

  @include buttonHover;

  &:disabled {
    background-color: #CECFD7;
    color: #FFFFFFB2;
  }

  &-background {
    background-color: var(--main-color);
    color: #fff;
    border: none;
  }
}
