:root {
	--background-color: #F3F5F9;

	--black-color: #0A0A0B;

	--main-color: #3C388D;
	--main-complementary-color: #5854B8;

	--success-color: #12B76A;
	--success-complementary-color: #ECFDF3;

	--warning-color: #F79009;
	--warning-complementary-color: #FFFAEB;

	--info-color: #1078e6;
	--info-complementary-color: #EFF8FF;

	--error-color: #F04438;
	--error-complementary-color: #FF786F;

	--padding: 1.5rem;

	--border-radius: 4rem;
}
