.create-order {
  width: 60%;
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }

  &__interests {
    width: 25%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    background-color: #fff;
    border-radius: var(--border-radius);
    border: 1px solid #E7E8EB;

    overflow: auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      column-gap: 1rem;
    }
  }

  &__wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 1.5rem;

    background-color: #fff;
    border-radius: var(--border-radius);
    border: 1px solid #E7E8EB;

    @media screen and (max-width: 768px) {
      width: 100%;
      order: -1;
    }
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  &__description {}

  &__dates {
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }

  }

  &__submit {
    margin-top: 1rem;
  }
}
