.create-order {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  padding: 1.5rem;

  border: 1px solid #fff;
  border-radius: 1rem;

  &__title {
    margin-bottom: 2rem;

    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  &__dates {
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;

    & input {
      width: 35%;

      &::-webkit-calendar-picker-indicator {
        filter: invert(100%);
      }
    }
  }

  &__submit {
    margin-top: 1rem;
    background-color: transparent;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
